/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require sweet-alert
 */
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)

.full
  width: 100%
  height: 100%

.social
  &:hover
    -webkit-transform: scale(1.2)
    -moz-transform: scale(1.2)
    -o-transform: scale(1.2)
  -webkit-transform: scale(0.8)
  /* Browser Variations:
  -moz-transform: scale(0.8)
  -o-transform: scale(0.8)
  -webkit-transition-duration: 0.5s
  -moz-transition-duration: 0.5s
  -o-transition-duration: 0.5s

/*
 *  Only Needed in Multi-Coloured Variation

.social-fb:hover
  color: #3B5998

.social-tw:hover
  color: #4099FF

.social-gp:hover
  color: #d34836

.social-em:hover
  color: #f39c12


@for $i from 1 through 10
  .font-size-#{$i}
    font-size: #{$i}vw
.clear
  clear: both

/* firefox 19+
/* ie
.center-center
  display: -webkit-flex     // NEW - Chrome
  display: flex             // NEW, Spec - Opera 12.1, Firefox 20+
  justify-content: center
  -webkit-justify-content: center // Safari 6.1+
  align-items: center
  -webkit-align-items: center // Safari 6.1+

.cursor-pointer
  cursor: pointer

.color-diamond
  background-color: white
.color-sapphire
  background-color: blue
.color-emerald
  background-color: green
.color-ruby
  background-color: red
.color-onyx
  background-color: black
.count
  background-size: cover
  background-position: center center
  &.count-1
    background-image: image-url("points/1.png")
  &.count-2
    background-image: image-url("points/2.png")
  &.count-3
    background-image: image-url("points/3.png")
  &.count-4
    background-image: image-url("points/4.png")
  &.count-5
    background-image: image-url("points/5.png")
  &.count-6
    background-image: image-url("points/6.png")
  &.count-7
    background-image: image-url("points/7.png")

html, body
  width: 100%
  height: 100%

body
  &.alert-opacity
    -webkit-animation: alert 1s infinite
    animation: alert 1s infinite

@-webkit-keyframes alert
  0%
    opacity: 1
  50%
    opacity: 0.1
  100%
    opacity: 1

.operator
  width: 100%
  height: 100%
  #chat
    .user-list
      .user
        border: none
        padding: 5%
        color: black
        .thumbnail
          padding: 0
          margin: 0
          left: 0
          width: 20px
          height: 20px
          background-size: cover
          float: left
          margin-right: 10px
    .panel
      margin-bottom: 0
    .chat-list
      list-style: none
      margin: 0
      padding: 0
      li
        margin-bottom: 10px
        padding-bottom: 5px
        position: relative
        .thumbnail
          padding: 0
          margin: 0
          border-radius: 10px
          position: absolute
          left: 0
          width: 40px
          height: 40px
          background-size: cover
        .chat-body
          margin-left: 50px
          p
            word-wrap: break-word
            margin: 0
            color: #777777
          small
            margin-left: 15px
    .slidedown .fa, .panel-heading > .fa
      margin-right: 5px

    .panel-heading
      .operation-dropdown
        img
          width: 2em
          margin-right: 1.5em
          border-radius: 0.5em
    .panel-body
      overflow-y: scroll
      height: calc(100% - 100px)
  #game-door
    width: 100%
    position: relative
    .door-padder
      width: 100%
      padding-bottom: 90%
      position: relative
      .door-container
        top: 20%
        left: 17%
        width: 66%
        height: 60%
        position: absolute
        z-index: 1
        overflow: hidden
        border-radius: 10px
        background-image: image-url("winner.jpg")
        background-size: cover
        background-position: center center
        .invite
          position: absolute
          width: 100%
          max-height: 70%
          transition: all 0.5s
          top: 100%
          .dual-list
            max-height: 100%
            width: 40%
            float: left
            margin: 0 5%
            .list-group
              height: 80%
              overflow: scroll
              margin-top: 8px
              .list-group-item
                cursor: pointer
                padding: 5%
                .thumbnail
                  padding: 0
                  margin: 0
                  left: 0
                  width: 10%
                  background-size: cover
                  float: left
                  margin-right: 10px
                  padding-bottom: 10%
                &.playing
                  pointer-events: none
                &:hover
                  color: coral
          .list-arrows
            position: absolute
            width: 10%
            height: 100%
            color: white
            left: 45%
            flex-direction: column
            -webkit-flex-direction: column
            i.fa
              cursor: pointer
              margin-bottom: 50%
              &:hover
                color: coral
          .number-spinner
            position: relative
          .input-set
            position: relative
            input
              padding-left: 15%
            i.fa
              position: absolute
              top: 0
              height: 100%
              &.fa-plus
                right: 0
              &.fa-minus
                left: 15%
              &.fa-android, &.fa-search
                width: 15%
                left: 0
              &.fa-plus, &.fa-minus
                width: 20%
                cursor: pointer
                &:hover
                  color: coral
        .icons
          position: absolute
          width: 100%
          color: white
          text-align: center
          top: 50%
          transition: all 0.5s
          i.fa
            margin: 0 5%
            cursor: pointer
            &:hover
              color: coral
          #cancel-start
            display: none

    &.invite-mode
      .door-padder
        .door-container
          .invite
            top: 10%
          .icons
            top: 75%
            #restart
              display: none
            #cancel-start
              display: inline-block


.card-view
  width: 100%
  position: absolute
  .card-padder
    width: 100%
    padding-bottom: 142.85%
    position: relative
    .card
      position: absolute
      width: 100%
      height: 100%
      border-radius: 3%
      border: solid 1px black
      color: transparent
      &.revealed
        color: black
        .header
          background-color: cadetblue
          .point-padder
            .point
              border: solid 1px black
        .middle
          background-color: darkslategray
      &:not(.revealed)
        background-image: image-url("cards/back.png")
        background-size: cover
        background-repeat: no-repeat
        background-position: center center

      .hover-view
        cursor: pointer
        position: absolute
        width: 100%
        height: 100%
        display: none
        z-index: 1
        opacity: 0.4
        .reserve, .purchase
          height: 100%
          float: left
          color: white
        .reserve
          width: 100%
          background-color: red
        .purchase
          width: 0%
          background-color: blue
      .header
        height: 25%
        .jewel-padder, .point-padder
          width: 36%
          padding-bottom: 36%
          position: relative
        .point-padder
          float: left
          .count
            position: absolute
            width: 100%
            height: 100%
            //width: 165%
            //height: 165%
            //left: -35%
            //top: -25%
        .jewel-padder
          float: right
          .jewel
            position: absolute
            width: 100%
            height: 100%
            border-radius: 50%
            background-size: 110%
            background-repeat: no-repeat
            background-position: center center
          .jewel.diamond
            background-image: image-url("jewels/diamond.png")
          .jewel.sapphire
            background-image: image-url("jewels/sapphire.png")
          .jewel.emerald
            background-image: image-url("jewels/emerald.png")
          .jewel.ruby
            background-image: image-url("jewels/ruby.png")
          .jewel.onyx
            background-image: image-url("jewels/onyx.png")
          .jewel.gold
            background-image: image-url("jewels/gold.png")
      .middle
        height: 75%
        .costs
          width: 25%
          position: absolute
          bottom: 0
          .cost-padder
            width: 80%
            padding-bottom: 80%
            position: relative
            margin: 10%
            .round
              position: absolute
              width: 100%
              height: 100%
              background-size: cover
              .count
                width: 100%
                height: 100%
            .round.diamond
              background-image: image-url("rounds/diamond.png")
            .round.sapphire
              background-image: image-url("rounds/sapphire.png")
            .round.emerald
              background-image: image-url("rounds/emerald.png")
            .round.ruby
              background-image: image-url("rounds/ruby.png")
            .round.onyx
              background-image: image-url("rounds/onyx.png")


.card-list
  position: relative
  &.card-list-pack
    @for $i from 1 through 50
      .card-view.card-view-#{$i}
        margin-top: #{$i * -0.2%}

  &.card-list-exhibition
    @for $i from 1 through 4
      .card-view.card-view-#{$i}
        left: #{$i * 105%}

  &.card-list-reservation
    @for $i from 1 through 3
      .card-view.card-view-#{$i}
        margin-top: #{$i * 30%}
        left: #{$i * 30%}

  &.card-list-purchased
    @for $i from 1 through 20
      .card-view.card-view-#{$i}
        margin-top: #{$i * 30%}

.jewel-chip-padder
  width: 100%
  padding-bottom: 80.58%
  position: relative
  .jewel-chip
    position: absolute
    width: 100%
    height: 100%
    background-size: contain
    background-repeat: no-repeat
  .jewel-chip.diamond
    background-image: image-url("jewel_chips/diamond.png")
  .jewel-chip.sapphire
    background-image: image-url("jewel_chips/sapphire.png")
  .jewel-chip.emerald
    background-image: image-url("jewel_chips/emerald.png")
  .jewel-chip.ruby
    background-image: image-url("jewel_chips/ruby.png")
  .jewel-chip.onyx
    background-image: image-url("jewel_chips/onyx.png")
  .jewel-chip.gold
    background-image: image-url("jewel_chips/gold.png")
.jewel-chip-list
  position: relative
  .jewel-chip-view
    width: 100%
    position: absolute

.jewel-chip-list
  @for $i from 1 through 50
    .jewel-chip-view.jewel-chip-view-#{$i}
      margin-top: #{$i * -10%}

.noble-padder
  width: 100%
  padding-bottom: 100%
  position: relative
  .noble
    position: absolute
    width: 100%
    height: 100%
    border-radius: 5%
    overflow: hidden
    background-color: blanchedalmond
    .left
      width: 30%
      height: 100%
      position: relative
      background-color: lavender
      .point-padder
        width: 70%
        padding-bottom: 70%
        position: relative
        margin: 10% 15%
        float: left
        .count
          position: absolute
          width: 100%
          height: 100%
      .costs
        position: absolute
        bottom: 0
        width: 100%
        .cost-padder
          width: 50%
          padding-bottom: 70%
          position: relative
          margin: 10% auto
          .count
            position: absolute
            width: 100%
            height: 100%


.game
  .player
    position: absolute
    width: 54%
    height: 30%
    border-radius: 10px
    > .header
      position: relative
      margin-left: 10%
      i.fa
        display: none
    .background
      position: absolute
      width: 100%
      height: 100%
      opacity: 0.1
      border-radius: 10px
      background-color: white
    .card-list
      position: absolute
      width: 11.523%
      top: 13%
    .card-list-purchased.diamond
      left: 15.934%
    .card-list-purchased.sapphire
      left: 28.485%
    .card-list-purchased.emerald
      left: 41.037%
    .card-list-purchased.ruby
      left: 53.588%
    .card-list-purchased.onyx
      left: 66.139%
    .card-list.card-list-reservation
      left: 80%
      top: 20%
    .jewel-chip-list
      position: absolute
      width: 8.230%
      top: 81.893%
    .jewel-chip-list.diamond
      left: 16.786%
    .jewel-chip-list.sapphire
      left: 29.543%
    .jewel-chip-list.emerald
      left: 42.3%
    .jewel-chip-list.ruby
      left: 55.057%
    .jewel-chip-list.onyx
      left: 67.814%
    .jewel-chip-list.gold
      left: 84.572%
    .noble-list
      position: absolute
      top: 13%
      left: 2.5%
      width: 11%
      .noble-view
        width: 100%
        position: absolute
      @for $i from 1 through 4
        .noble-view.noble-view-#{$i}
          margin-top: #{$i * 105%}
    &.others
      &.top
        left: 19%
        transform: rotate(180deg)
        -webkit-transform: rotate(180deg)
      &.left
        transform: rotate(90deg)
        -webkit-transform: rotate(90deg)
        top: 45%
        left: -13%
      &.right
        transform: rotate(270deg)
        -webkit-transform: rotate(270deg)
        top: 25%
        left: 60%
    &.me
      width: 54%
      height: 30%
      top: 70%
      left: 27%
    &.current-turn
      > .header
        color: darkred
        i.fa
          display: inline-block
    &.hovered
      .background
        opacity: 0.3
    &.winner
      > .header
        color: gold

  .center-field
    top: 30%
    left: 27%
    width: 46%
    height: 40%
    position: absolute
    .card-list
      position: absolute
    .card-list.card-list-pack
      width: 13.52657%
      left: 7.729%
    .card-list.card-list-exhibition
      width: 13.52657%
      left: 23.913%
    .card-list.level3
      top: 20.370%
    .card-list.level2
      top: 46.604%
    .card-list.level1
      top: 72.839%
    .jewel-chip-list
      position: absolute
      width: 9.662%
      left: 83.091%
      .jewel-chip:not(.gold)
        cursor: pointer
    .jewel-chip-list.diamond
      top: 8%
    .jewel-chip-list.sapphire
      top: 24%
    .jewel-chip-list.emerald
      top: 40%
    .jewel-chip-list.ruby
      top: 56%
    .jewel-chip-list.onyx
      top: 72%
    .jewel-chip-list.gold
      top: 87%
    .noble-list
      position: absolute
      width: 12.56%
      top: 2%
      right: 20%
      .noble-view
        width: 100%
        position: absolute
      @for $i from 1 through 4
        .noble-view.noble-view-#{$i}
          right: #{$i * 115%}

  .action-field
    border-radius: 10px
    position: absolute
    width: 19%
    height: 30%
    top: 70%
    left: 81%
    .card-list
      position: absolute
      width: 43%
      left: 52%
      top: 20%
    .jewel-chip-list.receive
      position: absolute
      //width: 23.390%
      width: 35%
      left: 8%
      top: 20%
    .jewel-chip-list.return
      position: absolute
      //width: 23.390%
      width: 35%
      left: 8%
      top: 65%
    > .footer
      position: absolute
      width: 95%
      text-align: right
      right: 5%
      bottom: 5%

  .zoom-field
    position: absolute
    width: 19%
    height: 30%
    .jewel-chip-view
      width: 50%
      float: left
    .username
      width: 100%
      height: 15%
    .jewel-stats
      width: 100%
      height: 60%
      .jewel-stat
        position: relative
        float: left
        width: 50%
        height: 33.333%
        .jewel
          position: absolute
          width: 50%
          height: 100%
          background-size: 110%
          background-repeat: no-repeat
          background-position: center center
          left: 10%
          &.diamond
            background-image: image-url("jewels/diamond.png")
          &.sapphire
            background-image: image-url("jewels/sapphire.png")
          &.emerald
            background-image: image-url("jewels/emerald.png")
          &.ruby
            background-image: image-url("jewels/ruby.png")
          &.onyx
            background-image: image-url("jewels/onyx.png")
          &.gold
            background-image: image-url("jewels/gold.png")
        .point
          position: absolute
          color: white
          width: 100%
          height: 100%
          right: -25%
    .etc-stats
      width: 100%
      height: 25%
      .point, .card-count
        color: white
        width: 50%
        height: 100%
        float: left
    .pack-card-count
      width: 100%
      height: 100%
      color: white
  .stat-field
    top: 20%
    left: 17%
    width: 66%
    height: 60%
    position: absolute
    color: white
    z-index: 1
    border-radius: 10px
    background-image: image-url("winner.jpg")
    background-size: cover
    background-position: center center
  #turn-count
    color: white
    right: 18%
    position: absolute
    top: 2%
  #layout-buttons
    position: absolute
    right: 3%
    top: 2%
    color: white
    i
      cursor: pointer
      &:hover
        color: coral
  &.game-3players
    .player.left
      top: 25%
    .zoom-field
      top: 70%
  &.my-view
    .player.others
      display: none
    .zoom-field
      top: 10%
      right: 0
      width: 25%
      height: 38%
    .action-field
      width: 25%
      height: 38%
      top: 62%
      left: 75%
    .center-field
      top: 0
      left: 0
      width: 75%
      height: 65%
    .player.me
      width: 73%
      height: 37%
      top: 64%
      left: 2%
  &.my-turn
    .player.me, .center-field, .action-field
      .jewel-chip-list
        .jewel-chip
          cursor: pointer

    .action-field
      .card
        cursor: pointer

    .center-field
      .card-list.card-list-pack
        .card-view.hovered
          z-index: 1
          .card-padder
            .card
              .hover-view
                display: block
                .reserve
                  width: 100%
                .purchase
                  display: none
      .card-list.card-list-exhibition
        .card-view.hovered
          z-index: 1
          .card-padder
            .card.purchasable-player-me
              .hover-view
                display: block
                .reserve, .purchase
                  width: 50%
            .card:not(.purchasable-player-me)
              .hover-view
                display: block
                .reserve
                  width: 100%
                .purchase
                  display: none
    .player.me
      .card-list.card-list-reservation
        .card-view.hovered
          z-index: 1
          .card-padder
            .card.purchasable-player-me
              .hover-view
                display: block
                .reserve
                  display: none
                .purchase
                  width: 100%

.game-view
  width: 100%

.game-padder
  width: 100%
  padding-bottom: 90%
  position: relative
  .game
    position: absolute
    width: 100%
    height: 100%
    overflow: hidden
    background-image: image-url("background.jpg")
    background-repeat: no-repeat
    background-size: 100%


@media screen and (min-aspect-ratio: 10/9)
  @for $i from 1 through 10
    .font-size-#{$i}
      font-size: #{$i}vh

  .game-view
    width: 111.11111vh
    float: left
  .operator
    #game-door
      width: 111.11111vh
      float: left
    #chat
      width: calc(100% - 111.11111vh)
      float: right
      height: 100%
      .panel
        height: 100%
